
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
    }
    
    body {
    
        background-color: #081b29;
        color: #ededed;
    }



h1 {
margin-top: 30px;
text-align: center;

 }


 img {
    display: inline-block; margin: auto;
margin-top: 50px;

position: relative;
left: 1000px;
}




.paragraf{
 margin-top:-500px;
font-family: sans-serif;
    text-align: left;
margin-left: 60px;
font-size: 25px;
}