@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins',sans-serif;

}

body {

    background-color: #081b29;
    color: #ededed;
}

.header {
position: fixed;
left: 0;
top: 0;
padding:20px  10%;
width:100% ;
background: transparent;
display: flex;
justify-content: space-between;
}

.logo{
text-decoration: none;

font-size: 25px;
color: #ededed;
font-weight: 600;

}

.navbar a {
color: #ededed;
font-size: 18px;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: .3sn;
}

.navbar a:hover,
.navbar a.anasayfa {
    color: #00abf0;


}

.anasayfa1 {
height: 100vh;
display: flex;
align-items: center;
padding:  0 10%;
}

h1 {
   font-size: 60px; 


}

p {

font-size: 30px;

}

img {
position: absolute;
top: 250px;
left: 990px;
}

.fab {
    padding: 8px;
    font-size: 30px;
    width: 42px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fab:hover {
    opacity: 0.6;
}
.fa-twitter {
    background: #081b29;
    color: white; }


    .fa-linkedin {
        background: #081b29;
        color: white;
        }
        .fa-youtube {
        background: #081b29;
        color: white;
        }
        .fa-instagram {
        background: #081b29 ;
        color: white;
        }

        .sosyal {


position: relative;
bottom: 230px;
left: 600px;
        }